.entry-container{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #C6D2D9;
  border-bottom: 4px solid #C6D2D9;
  border-radius: 2px;
  
}

input{
  margin: 0.25rem 0;
}


.day-detail{
  background-color: #f2f6f8;
}