input{
  width: 20rem;
  font-size: larger;
}


.time{
  width: 4rem;
  height: 4rem;
  text-align: center;
}

#calender{
  width: 10rem;
}

.totaltime{
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: block;
  border: 2px solid black;
}

.addEntry{
  // width: 5rem;
}