<div class="container " >

  <form *ngIf="isManual" class="row m-3" [formGroup]="workForm"  (ngSubmit)="setData()">

  <input ngModel class="col-4" type="text" placeholder="What have you worked on?" formControlName="workDone">

  <!-- format 00:00   colon is required -->
  <input ngModel class=" col-2 time" type="text" formControlName="startTime">
  <input ngModel class=" col-2 time" type="text" formControlName="endTime">

  <input ngModel class="col-2" type="date" id="calender" formControlName="date">

  <h6 class="totaltime col-1 p-0 m-1">{{totalTime}}</h6>

  <button class="addEntry btn-primary " [disabled]="workForm.invalid">Add</button>


  </form>

</div>

<div class="alert alert-primary w-25 m-3" role="alert" *ngIf="workForm.touched">
  Please Enter valid fields.
</div>


<div>
  <!-- <p> curr time: {{etime.toISOString().substr(11,8)}}</p> -->
  <p> curr time: {{etime.toLocaleTimeString()}}</p>
  <p> total time: {{totalTime}}</p>
  <button *ngIf="isTimerStarted" (click)="startTimer()">Start</button>
  <button *ngIf="!isTimerStarted" (click)="stopTimer()">Stop</button>

</div>