<div class="form-wrapper ">

  <form *ngIf="isManual" class="row shadow" [formGroup]="workForm" (ngSubmit)="setData()">

    <input ngModel class="col-4 " type="text" placeholder="What have you worked on?" formControlName="workDone">

    <input [(ngModel)]="start" class=" col-1 time text-center" type="text" formControlName="startTime">


      <span style="margin-top: 0.75rem"><strong>-</strong></span>

    <input [(ngModel)]="end" class=" col-1 time text-center" type="text" formControlName="endTime">

    <input [(ngModel)]=" todaysDate" class="col-2" type="date" formControlName="date">

    <p class="totaltime col-1 p-1 m-1 lead"><strong>{{totalTime}}</strong></p>

    <button class="addEntry btn btn-primary col-1" [disabled]="workForm.errors?.inValidTime || workForm.invalid">ADD</button>


  </form>

</div>



<div class="alert-wrapper ">
  <div class="alert alert-primary w-100" role="alert" *ngIf="workForm.errors?.inValidTime && workForm.touched">
    Please Enter valid fields.
  </div>
  <div class="alert alert-primary w-100" role="alert" *ngIf="workForm.required && workForm.touched">
    Please Enter required fields.
  </div>



</div>






<!-- <div>
  <p> curr time: {{etime.toLocaleTimeString()}}</p>
  <p> total time: {{totalTime}}</p>
  <button *ngIf="isTimerStarted" (click)="startTimer()">Start</button>
  <button *ngIf="!isTimerStarted" (click)="stopTimer()">Stop</button>

</div> -->
