.container{
  width: 100%;
  background-color: antiquewhite;
}


// input{
//   width: 20rem;
//   font-size: larger;
// }


// .time{
//   width: 4rem;
//   height: 4rem;
//   text-align: center;
// }

// #calender{
//   width: 10rem;
// }

.totaltime{
  border: 2px solid black;  
  text-align: center;
}
