.spinner-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(250, 249, 249);
  z-index: 5;

}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}