.row{
  border: 0.5px solid rgb(175, 168, 168);
}
form{
  input,button,.totaltime{
    border: 0.25px white solid;
  }
}
.entry-input{
  margin: 0.25rem 0;
}
input:focus{
  outline: none;
}
form:hover{
  input, .totaltime{
    border: 0.5px solid rgb(175, 168, 168);
  } 
}