.row{
  border: 0.5px solid rgb(175, 168, 168);
}

form{
  input,button,.totaltime{
    border: 0.25px white solid;
  }

}

input:focus{
  outline: none;
}

form:hover{
  input, .totaltime{
    border: 0.5px solid rgb(175, 168, 168);
  }
  
}

