<!-- this week -->
<div *ngIf="current_week.length > 0" class="table-container p-3 mt-3">
  <div class="week-container d-flex justify-content-between">
    <div class="week-heading">
      <h4>This week</h4>
    </div>

    <div class="total-time d-flex justify-content-around">
      <p class="p-1">Week total</p> <h5 class="p-1">{{week_time}}</h5>
    </div>
  </div>


  <div class="entries">
    <app-prev-entry *ngFor="let childObj of current_week" [data]="childObj" (time) = "getTime($event)"></app-prev-entry>  
  </div>
</div>



<!-- last week entries -->

<div *ngIf="last_week.length > 0" class="table-container p-3 mt-3">
  <div class="week-container d-flex justify-content-between">
    <div class="week-heading">
      <h4>Last week</h4>
    </div>

    <div class="total-time d-flex justify-content-around">
      <p class="p-1">Week total</p> <h5 class="p-1">{{week_time}}</h5>
    </div>
  </div>


  <div class="entries">
    <app-prev-entry *ngFor="let childObj of last_week" [data]="childObj" (time) = "getTime($event)"></app-prev-entry>  
  </div>
</div>



<!-- second last week entries -->

<!-- <div *ngIf="second_last_week.length > 0" class="table-container p-3 mt-3">
  <div class="week-container d-flex justify-content-between">
    <div class="week-heading">
      <h4>Second Last week</h4>
    </div>

    <div class="total-time d-flex justify-content-around">
      <p class="p-1">Week total</p> <h5 class="p-1">{{week_time}}</h5>
    </div>
  </div>


  <div class="entries">
    <app-prev-entry *ngFor="let childObj of current_week" [data]="childObj" (time) = "getTime($event)"></app-prev-entry>  
  </div>
</div> -->










<!-- <div class="alert-wrapper ">
  
    <div class="alert alert-primary w-100" role="alert" *ngIf="workForm.errors?.inValidTime && workForm.touched">
      Please Enter valid fields.
    </div>
    <div class="alert alert-primary w-100" role="alert" *ngIf="workForm.required && workForm.touched">
      Please Enter required fields.
    </div>
  
  </div>




  <div>
    <p> curr time: {{etime.toLocaleTimeString()}}</p>
    <p> total time: {{totalTime}}</p>
    <button *ngIf="isTimerStarted" (click)="startTimer()">Start</button>
    <button *ngIf="!isTimerStarted" (click)="stopTimer()">Stop</button>
  
  </div> -->